body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

#toggleButton{
    position: fixed; /* 고정 위치 설정 */
    top: 20px; /* 상단 여백 */
    right: 20px; /* 우측 여백 */
    padding: 5px 10px; /* 내부 여백 */
    font-size: 36px; /* 폰트 크기 */
    background-color:rgba(0, 0, 0, 0); /* 배경색 */
    color: white; /* 글자색 */
    border: none; /* 테두리 제거 */
    border-radius: 5px; /* 테두리 둥글기 설정 */
    cursor: pointer;
    z-index: 3; /* 다른 요소들 위에 표시 */
}

.background-grid {
    position: absolute;
    top: -50;
    left: -100;
    width: 200%;
    height: 200%;
    background-image: linear-gradient(to right, #d9f0ff 1px, transparent 1px),
                      linear-gradient(to bottom, #d9f0ff 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 0;
    transform-origin: center center;
    transition: transform 1s ease;
}

.background-grid.rotate-left {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-25deg) translateZ(-100px);
}

.buildings {
    display: none;
    position: absolute;
    width: 1000%;
    bottom: -200px;
    z-index: 1; /* 건물 이미지가 격자 무늬 위에 표시되도록 설정 */
    justify-content: center;
    gap: 30px;
}

.buildings img {
    width: 1500px;
    height: auto;
}

.building1 { left: 20%; top: 20%; z-index: 2; }
.building2 { left: 20%; top: 20%; z-index: 1; }
.building3 { left: 30%; top: 30%; }
.building4 { left: 40%; top: 40%; }
.building5 { left: 50%; top: 50%; }
.building6 { left: 60%; top: 60%; }
.building7 { left: 70%; top: 70%; }
.building8 { left: 80%; top: 80%; }
.building9 { left: 90%; top: 90%; }
.building10 { left: 10%; top: 90%; }
.building11 { left: 20%; top: 80%; }
.building12 { left: 30%; top: 70%; }
.building13 { left: 40%; top: 60%; }
.building14 { left: 50%; top: 50%; }
.building15 { left: 60%; top: 40%; }
.building16 { left: 70%; top: 30%; }

.floating_mini_icons {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.floating_mini_icons img {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: float 5s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}


.center_elements {
    position: relative;
    text-align: center;
    z-index: 2;
}

.center_elements img#main-image{
    width: 200px;
    height: auto;
    transition: transform 1s ease;
}

.center_elements img#main-image.rotate-left {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-25deg) translateZ(-100px);
}

.center_elements button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffcccb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.center_elements button:hover {
    background-color: #fab0b0;
}

.center_elements p {
    display: none;
    position: relative;
    top: -80px;
    left: 80px;
    font-size: 30px;
    color: rgb(66, 103, 183);
    font-family: 'Gamja Flower', cursive;
}

.center_elements p.rotate-left {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-25deg) translateZ(-100px);
}

.center_elements img#angle-down {
    display: none;
    position: relative;
    top: -100px;
    left: 350px;
    width: 100px; 
    height: auto; 
    margin-top: 20px; 
    cursor: pointer; 
}

.center_elements img#angle-down.rotate-left {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-25deg) translateZ(-100px);
}

.backyong {
    /* filter: brightness(0.5); */
    position: absolute;
    top: 80%;
    left: -600px; /* 초기 위치 설정 */
    transform: translateX(250%) translateY(-20%);
    transition: left 2s ease;
    z-index: 3; /*가장 위쪽에 배치*/
    width: 80px;
    height: auto;
    cursor: pointer;
}

.bbugong {
    /* filter: brightness(0.5); */
    position: absolute;
    top: 80%;
    left: -600px; /* 초기 위치 설정 */
    transform: translateX(580%) translateY(-40%);
    transition: left 2s ease;
    z-index: 3; /*가장 위쪽에 배치*/
    width: 60px;
    height: auto;
    cursor: pointer;
}

/* .backyong:hover {
    filter: brightness(1);
}

.bbugong:hover {
    filter: brightness(1);

} */

#backyong-heart {
    position: absolute;
    top: 77%;
    left: 65.5%;
    width: 20px;
    height: auto;
    display: none; 
}

#backyong-heart.active{
    display: block;
}

#bbugong-heart {
    position: absolute;
    top: 75.5%;
    left: 82.3%;
    width: 15px;
    height: auto;
    display: none; 
}

#bbugong-heart.active{
    display: block;
}

#backyong-speech-bubble {
    position: absolute;
    top: 79%;
    left: 40%;
    /* transform: translate(-50%, -50%); */
    background-color: #ffcccb;
    border: 1px solid #d9f0ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; 
}

#backyong-speech-bubble.active{
    display: block;
}


#bbugong-speech-bubble {
    position: absolute;
    left: 85%;
    top: 76%;
    /* transform: translate(-50%, -50%); */
    background-color: #d4c8ed;
    border: 1px solid #d9f0ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

#bbugong-speech-bubble.active {
    display: block;
}

#backyong-speech-bubble p {
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    color: white;
    font-family: 'Single Day', cursive;
}

#bbugong-speech-bubble p {
    margin: 0;
    font-size: 18px;
    line-height: 1.4;
    color: white;
    font-family:'Dongle', cursive;
}



.backyong-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8e7e6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.popup-backyong-speech-bubble {
    width: 180px;
    left: 50%;
    transform: translateX(50%);
    background-color: #ffcccb;
    border: 1px solid #d9f0ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#popup-backyong-speech-bubble p {
    margin: 0;
    font-size: 17px;
    color: white;
    font-family: 'Single Day', cursive;
}

.popup-backyong-img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.popup-backyong-buttons {
    width: 100%;
    top: 10px; /* 팝업 하단에서 약간의 간격 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-backyong-check,
.popup-backyong-close {
    width: 160px; /* 버튼의 고정된 너비 */
    margin: 0 10px; /* 버튼 사이의 간격 */
    padding: 10px 18px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #d9f0ff;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(62, 59, 59);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Gamja flower', cursive, sans-serif;
    text-align: center;
}


.bbugong-popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8e7e6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 400px;
    height: 300px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.popup-bbugong-speech-bubble {
    width: 180px;
    left: 50%;
    transform: translateX(50%);
    background-color: #ffcccb;
    border: 1px solid #d9f0ff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#popup-bbugong-speech-bubble p {
    margin: 0;
    font-size: 17px;
    color: white;
    font-family: 'Single Day', cursive;
}

.popup-bbugong-img {
    width: 150px;
    height: auto;
    margin: 0 auto;
}

.popup-bbugong-buttons {
    width: 100%;
    top: 10px; /* 팝업 하단에서 약간의 간격 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-bbugong-check,
.popup-bbugong-close {
    width: 160px; /* 버튼의 고정된 너비 */
    margin: 0 10px; /* 버튼 사이의 간격 */
    padding: 10px 18px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #d9f0ff;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(62, 59, 59);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Gamja flower', cursive, sans-serif;
    text-align: center;
}