body {
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background-grid {
    position: absolute;
    top: -50;
    left: -100;
    width: 200%;
    height: 200%;
    background-image: linear-gradient(to right, #d9f0ff 1px, transparent 1px),
                      linear-gradient(to bottom, #d9f0ff 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: 0;
    transform-origin: center center;
    transition: transform 1s ease;
}

.background-grid.rotate-left {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-25deg) translateZ(-100px);
}

.buildings {
    display: none;
    position: absolute;
    width: 100%;
    bottom: -200px;
    z-index: 1; /* 건물 이미지가 격자 무늬 위에 표시되도록 설정 */
    justify-content: center;
    gap: 20px;
}

.buildings img {
    width: 250px;
    height: auto;
}

.floating_mini_icons {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.floating_mini_icons img {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: float 5s infinite ease-in-out;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}


.center_elements {
    text-align: center;
    z-index: 2;
}

.center_elements img{
    width: 200px;
    height: auto;
    transition: transform 1s ease;
}

.center_elements img.rotate-left {
    transform: rotateX(50deg) rotateY(0deg) rotateZ(-25deg) translateZ(-100px);
}

.center_elements button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffcccb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.center_elements button:hover {
    background-color: #fab0b0;
}

.bbugong {
    position: absolute;
    top: 80%;
    left: -200px; /* 초기 위치 설정 */
    transform: translateY(-50%);
    transition: left 2s ease;
    z-index: 3; /*가장 위쪽에 배치*/
}